@tailwind base;
@tailwind components;
@tailwind utilities;
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  hyphens: auto;
}
h {
  @apply bg-neutral-focus;
}
